$container-padding: 5rem;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{2 * $container-padding});
  align-items: center;
  padding: $container-padding 0;

  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }
}

:host::ng-deep {
  .mat-form-field-infix {
    padding: .75rem 0;
  }

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
}

.info-container {
  margin-top: 2rem;
}

.slider-container {
  mat-slider {
    margin-top: 30px;
    width: 100%;
  }
}

.center {
  text-align: center;
}
